<h1>
Creating a flash card.
</h1>
<form method="post" action="/flashcards" >
<label> Title:</item>
  <input type="text" name="item">


  <label> Discription:</item>
    <input type="text" name="item">
<input type="submit" name="submit" value="submit">
