<h1>School is in session time to make some flashcards!</h1>

<form method="post" action="/users">
  Name: <input type="text" name="name"><br />
  Email: <input type="text" name="email"><br />
  Password: <input type="password" name="password"><br />
  <input type="submit">

</form>
