<h1>Edit your flashcard!</h1>
<form method="POST" action="/flashcards/<%= @flashcards.id %>">
  <input type="hidden" id="hidden" name="_method" value="PATCH">





Title: <input type="text" name="title" value="<%=@flashcards.title%>">
Description: <input type="text" name="description" value="<%=@flashcards.description%>">

<input type="submit">


</form>
