<h1>this is a test</h1>
<form method="post" action="/flashcards">
<select name="user_id">
  <% @users.each do |user| %>
    <option value="<%= user.id%>" <%= user.name %> </option>
    <% end %>

</select>

<input type="submit">
</form>
